<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

        * {
            padding: 0px;
            margin: 0px;

            font-family: "Open Sans", sans-serif;
            font-weight: 100;
        }
        .button-wrapper>a{
            margin-left: 22px;

        }
    </style>
    <!-- 
 imagens
https://github.com/LyanBrito/s-amuser/assets/153382319/45c1ce19-2ffc-46c5-ad5b-b076d82b1409
![Group 4](https://github.com/LyanBrito/s-amuser/assets/153382319/45c1ce19-2ffc-46c5-ad5b-b076d82b1409)
![Group 3](https://github.com/LyanBrito/s-amuser/assets/153382319/23d93deb-8a95-4f4d-8103-128001576beb)
![Group 2](https://github.com/LyanBrito/s-amuser/assets/153382319/fe6e495f-defe-44fa-860f-69330c3f5060)
![Mask Group](
![Union (3)](https://github.com/LyanBrito/s-amuser/assets/153382319/794aebe5-e18e-4ed1-b13f-66b63dc5beb4)
![Union (2)](https://github.com/LyanBrito/s-amuser/assets/153382319/1f9bee09-0fb7-4153-af83-746ff47dd7ef)
![Union (1)](https://github.com/LyanBrito/s-amuser/assets/153382319/41ab7957-534d-4301-b282-9340dd02619f)
![Union](https://github.com/LyanBrito/s-amuser/assets/153382319/d45b1183-3b55-4c53-8245-61564499ab3d)
![Union (4)](https://github.com/LyanBrito/s-amuser/assets/153382319/07025f0c-d4fc-424a-96d8-17efd84881c7))

 -->

<body style="display: flex; flex-direction: column; align-items: center;">

    <table style="background-color: #FEEEEE;">
        <tr>
            <td>
                <img style="margin-bottom: 14px;" src="https://github.com/LyanBrito/s-amuser/assets/153382319/aaa0298b-bdb5-485f-903b-d9f3f9eaefef"
                    alt="logo">

            </td>
        </tr>
        <tr>
            <td>
                <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/c640b07b-47a6-4351-8acc-e9a7b44b553b"
                    alt="img">
            </td>
        </tr>
        <tr>
            <td style="display: flex; margin-top: 32px;">
                <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/fe6e495f-defe-44fa-860f-69330c3f5060"
                    alt="sla" style="margin-left: 30px;">
                <div style="
                    height: 365px;
                    width: 260px;
                    background-color: #FFC632;
                    margin-left: 40px;
                    text-align: center;
                    color: #FFFFFF;
                ">
                    <h2 style="margin-top: 43px; font-size: 33px;">Summer <br> Super Sale</h2>
                    <h1 style="font-size: 50px;">30% OFF</h1>
                    <h3 style="font-size: 20px; margin-bottom: 43px;">Shop the sale</h3>
                    <a style="
                    padding: 15px 50px 15px 50px; 
                    background-color: #F03270;
                    border-radius: 6px;
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 500;
                    " href="#">Shop the sale</a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="display: flex; margin-top: 42px;">
                <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/23d93deb-8a95-4f4d-8103-128001576beb"
                    alt="sla" style="margin-left: 30px; height: 365px;">
                <img style="
                height: 365px;
                width: 260px;
                margin-left: 40px;"
                    src="https://github.com/LyanBrito/s-amuser/assets/153382319/45c1ce19-2ffc-46c5-ad5b-b076d82b1409"
                    alt="">
            </td>
        </tr>
        <tr>
            <td style="display: ruby-text; margin: 42px 0px 42px 0px;">
                <div style="background-color: #FFFFFF;
                text-align: center;
                width: 560px;
                ">

                    <p style="
                font-size: 20px;
                margin-top: 20px; 
                font-weight: 400;
                color: black;
                ">TRENDING BRANDS</p>
                <div>
                    <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/73210f32-335f-41dd-a04a-cab021222b03" alt="">
                    <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/6c849146-4037-4e66-af03-6a12415dbd8b" alt="">
                    <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/265a27da-cdaa-45e1-b66e-17afbb19772e" alt="">
                    <img src="https://github.com/LyanBrito/s-amuser/assets/153382319/0625aec3-f320-40b3-9834-6b1356e00b96" alt="">
                </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="
                background-color: #BDACCB; 
                height: 252px;
                text-align: center;
                
                ">
                <p style="
                font-weight: 500; 
                font-size: 14px;
                margin-bottom: 35px;
                ">Want unlimited Express Delivery for a whole year?<br>
                    Get it for AED $60.00
                    <br>
                    <br>
                    Ts&Cs apply
                    </p>
                    <a style="
                    font-weight: 600; 
                    font-size: 18px; 
                    padding: 15px 104px 15px 104px; 
                    background-color: #261B31;
                    border-radius: 6px;
                    text-decoration: none;
                    color: #FEEEEE;
                    " href="">Learn More</a>
            </td>
        </tr>
        <tr>
            <td style="
                height: 98px;
                background-color: #FFFFFF;
                text-align: center;
                ">
                <div class="button-wrapper">
                    <a href=""><img src="https://github.com/LyanBrito/s-amuser/assets/153382319/d45b1183-3b55-4c53-8245-61564499ab3d" alt=""></a>
                    <a href=""><img src="https://github.com/LyanBrito/s-amuser/assets/153382319/41ab7957-534d-4301-b282-9340dd02619f" alt=""></a>
                    <a href=""><img src="https://github.com/LyanBrito/s-amuser/assets/153382319/1f9bee09-0fb7-4153-af83-746ff47dd7ef" alt=""></a>
                    <a href=""><img src="https://github.com/LyanBrito/s-amuser/assets/153382319/794aebe5-e18e-4ed1-b13f-66b63dc5beb4" alt=""></a>
                    <a href=""><img src="https://github.com/LyanBrito/s-amuser/assets/153382319/07025f0c-d4fc-424a-96d8-17efd84881c7" alt=""></a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="
                background-color:  #261B31;
                height: 71px;
                text-align: center;
                ">
                <p style="font-size: 13px; color: #FFFFFF;">You're receiving this email because you are a subscriber of NextMockup.com
                    <br>If you feel you received it by mistake or wish to unsubscribe, <a style="color: #FFFFFF; text-decoration: none; font-weight: 700;" href="#">Click Here</a>
                </p>
            </td>
        </tr>
    </table>
</body>

</html>